@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.contextual-icons.sc-phn-level-0-icons div.left-icons.sc-phn-level-0-icons {
  grid-area: left;
  justify-self: start;
}

.contextual-icons.sc-phn-level-0-icons div.left-icons.sc-phn-level-0-icons, .contextual-icons.sc-phn-level-0-icons div.right-icons.sc-phn-level-0-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contextual-icons.sc-phn-level-0-icons-s>*, .contextual-icons .sc-phn-level-0-icons-s>* {
  grid-area: center;
  justify-self: center;
}

.sc-phn-level-0-h header.sc-phn-level-0 {
  grid-template-columns: [full-start] minmax(0, var(--pds-internal-grid-outer-column, calc(var(--pds-internal-grid-safe-zone) - clamp(16px, 1.25vw + 12px, 36px)))) [wide-start] minmax(0, 1fr) [extended-start] minmax(0, 1fr) [basic-start] repeat(2, minmax(0, 1fr)) [narrow-start] repeat(8, minmax(0, 1fr)) [narrow-end] repeat(2, minmax(0, 1fr)) [basic-end] minmax(0, 1fr) [extended-end] minmax(0, 1fr) [wide-end] minmax(0, var(--pds-internal-grid-outer-column, calc(var(--pds-internal-grid-safe-zone) - clamp(16px, 1.25vw + 12px, 36px)))) [full-end];
  --pds-internal-grid-safe-zone: calc(5vw - 16px);
  --pds-grid-basic-span-one-half: span 6;
  --pds-grid-basic-span-one-third: span 4;
  --pds-grid-narrow-span-one-half: span 4;
  --pds-grid-basic-span-two-thirds: span 8;
  --pds-grid-extended-span-one-half: span 7;
}

sc-phn-level-0-h header.sc-phn-level-0 {
  margin: 0 var(--pds-internal-grid-margin, 0);
  display: grid;
  padding: 0 calc(50% - var(--pds-internal-grid-margin, 0px) - 1280px);
  grid-gap: clamp(16px, 1.25vw + 12px, 36px);
  max-width: var(--pds-internal-grid-width-max, 2560px);
  min-width: var(--pds-internal-grid-width-min, 320px);
  box-sizing: content-box;
  grid-template-columns: [full-start] minmax(0, var(--pds-internal-grid-outer-column, calc(var(--pds-internal-grid-safe-zone) - clamp(16px, 1.25vw + 12px, 36px)))) [wide-start extended-start basic-start narrow-start] repeat(6, minmax(0, 1fr)) [narrow-end basic-end extended-end wide-end] minmax(0, var(--pds-internal-grid-outer-column, calc(var(--pds-internal-grid-safe-zone) - clamp(16px, 1.25vw + 12px, 36px)))) [full-end];
  --pds-internal-grid-safe-zone: max(22px, 10.625vw - 12px);
  --pds-grid-basic-span-one-half: span 3;
  --pds-grid-basic-span-one-third: span 2;
  --pds-grid-narrow-span-one-half: span 3;
  --pds-grid-basic-span-two-thirds: span 4;
  --pds-grid-extended-span-one-half: span 3;
  font-family: "Porsche Next", "Arial Narrow", Arial, "Heiti SC", SimHei, sans-serif;
  font-weight: 400;
  color: #fff;
  height: 4.125rem;
}

phn-header {
  display: block;
  position: relative;
  visibility: visible;
  height: var(--phn-header-height);
  min-height: var(--phn-header-height);
}

phn-burger-button, phn-country-recommender, phn-header, phn-level-0, phn-level-0-icons, phn-logo, phn-my-porsche-icon-button, phn-wrapper {
  visibility: hidden;
}